*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* ----------nav bar---------- */

.header{
    height: 70px;
    width: 100%;
    background-color: #ecfcd5;
    /* background-color: hsla(0, 0%, 85%, 0.514); */
}

.image-logo{
    height: 70px;
}

nav{
    display:flex;
    /* padding: 2% 2%; */
    justify-content: space-between;
    align-items: center;
}

 /* .header a{
    color: rgb(32, 11, 219);
    text-decoration: none;
    font-size: 30px;
} */

.nav fa{
    color: #02013d;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}


.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #02013d;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}



nav .close-icon{
    display: none;
}

nav .menu-icon{
    display: none;
}

/* --------nav ends here------- */


/* --------Media queris of nav-------- */

@media(max-width: 700px){
    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: rgba(114, 112, 112, 0.2);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }

    
    nav .close-icon{
        display: block;
        color: #02013d;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    nav .menu-icon{
        display: block;
        color: #02013d;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }

}



/* --------diseases css  start--------- */

.search-item{
    width: 70%;
    height: 40px;
    font-size: 20px;
    padding: 4px 20px;
}

.search-container {
    background: #fff;
    height: 30px;
    width: 350px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    margin: 20px 0 0 450px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
  }
  
  .search-container:hover > .search-input {
    width: 400px;
  }
  
  .search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
  }
  
  .search-container .search-btn .fas {
    color: #5cbdbb;
  }
  


.fa{
    text-align: center;
    padding: 0 10px;
}

.diseases{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #02013d;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    padding: 10px;
}

.container-row{
    margin-top: 5%;
    display: block;
    justify-content: space-between;
}

/* .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
} */

.first-row{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.second-row{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.disease-col{
    flex-basis: 31%;
    background: #ecfcd5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px  12px;
    box-sizing: border-box;
    cursor: pointer;

    /* fff3f3 */
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

.disease-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0, 0, 0.2);
}


@media(max-width: 700px){
    .row{
        flex-direction: column;
    }

    .first-row{
        flex-direction: column;
    }

    .second-row{
        flex-direction: column;
    }
}
/* --------disease ends here---------- */







/* --------------about page content  start----------- */

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;

}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    padding-left: 30px;
    padding-top: 20px;
    width: 100%;
    height: 70%;
}

.about-col h1{
    padding-top: 0%;
}

.about-col p{
    padding: 15px 0 25px;
}

.about-us .row{
    display: flex;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #02013d;
    border: 1px solid #5cbdbb;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #0d0b85;
    background: #d8f0b7;
    transition: 0.5s;

}

@media(max-width: 700px){
    .about-us .row{
        display: block;
        text-align: center;
    }

    .about-us .row .about-col{
        text-align: center;
    }
    .about-us .row .about-col img{
        text-align: center;
    }

}

/* ---------about page ends-------- */



/* -------footer  start------------ */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #0d0b85;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


.fa-heart-o{
    color: #bd5c81;
}

/* -----------footer  ends here----------- */





/* ----------details screen start------ */

.disease-details{
    width:100% ;
    align-items: center;
}

.disease {
    text-align: center;
    margin: 25px 0 0 25px;
}
  
.food-list {
    margin: 25px 0 0 25px;
}

.foodsList { 
    display: grid; 
    place-items: center; 
    margin-left: -180px;
} 


.near-shops {
    margin: 25px 0 15px -140px;
}

.nearShops{
    display: grid; 
    place-items: center; 
    margin-left: -30px;
    /* text-align: center;
    list-style-position: inside; */
}


#food {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 65%;

    margin: 0 0 20px 25px;

    margin-left: auto;
    margin-right: auto;

}

#food td,
#food th {
    border: 1px solid #ddd;
    padding: 8px;
}

#food tr:nth-child(even) {
    background-color: #f2f2f2;
}

#food tr:hover {
    background-color: #ddd;
}

#food th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #72e494;
    color: white;
}

/* -----------details page ends---------- */